* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.top-section {
    background: linear-gradient(135deg, #38f5b6, #3821a0);
    width: 80%;
    max-width: 470px;
    text-align: center;
    margin: 100px auto 0;
    padding: 40px 40px 0 40px;
    border-radius: 20px;
}

.input-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field input {
    border: none;
    border-radius: 30px;
    flex: 1;
    background: #ecfdfb;
    margin-right: 15px;
    padding-left: 25px;
    height: 60px;
    font-size: 15px;
}

.input-field button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: #ecfdfb;
}

.input-field button img {
    width: 20px;
}

.weather-icon {
    width: 180px;
}

.temp {
    color: aliceblue;
    font-size: 60px;
    font-weight: 500;
    width: 100%;
    
}

.city {
    color: aliceblue;
    font-size: 40px;
    font-weight: 500;
    width: 100%;
    
}

.lower-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.column {
    display: flex;
    align-items: center;
    text-align: left;
}

.column img {
    width: 35px;
    margin: 10px;
}

.column p {
    color: #ecfdfb;
    font-size: 15px;
    padding: 1px;
}